.button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 14px 0;
  border: none;
  background-color: $color-transparent;
  color: $color-default-white;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  transform: skewX(-15deg);
  cursor: pointer;

  .button__icon,
  .button__text {
    transform: skewX(15deg);
  }

  &:disabled {
    background-color: $color-gray;
    color: $color-default-white;

    @include hover {
      background-color: $color-gray;
      color: $color-default-white;

      &::before {
        background-color: $color-default-white;
      }
    }

    &:active {
      background-color: $color-gray;
      color: $color-default-white;

      &::before {
        background-color: $color-default-white;
      }
    }
  }
}

.button--outline {
  border: 1px solid $color-dim-gray;
  transition: background-color $trans-default;

  .button__icon {
    transition: fill $trans-default;
  }

  @include hover {
    background-color: $color-pavlova;

    .button__icon {
      fill: $color-default-white;
    }
  }

  @include vp-768 {
    min-width: 92px;
  }
}

.button--fill {
  padding: 19px 0;
  border: 1px solid $color-pavlova;
  background-color: $color-pavlova;
  transition: all $trans-default;

  &::before {
    transition: background-color $trans-default;
  }

  @include hover {
    background-color: $color-transparent;
    color: $color-gray;
    border-color: $color-gray;

    &::before {
      background-color: $color-pavlova;
    }
  }

  @include vp-768 {
    position: relative;
    min-width: 200px;

    &::before {
      @include pseudo(5px, 100%);
      background-color: $color-default-white;
      right: -10px;
    }
  }
}

.button--pseudo {
  max-width: 220px;
  padding: 14px 0;

  &::before {
    @include pseudo(5px, 100%);
    background-color: $color-default-white;
    right: -10px;
  }

  @include vp-768 {
    max-width: 280px;
    padding: 21px 0;
  }
}
