.form {
  display: flex;
  gap: 15px;
  flex-direction: column;
  color: $color-default-black;
}

.form__heading {
  margin: 0;
}

.form__subheading {
  margin: 0;
}

.form__input {
  padding: 5px;
  border: 1px solid $color-seal-brown;
}

.form__input--error {
  color: $color-error;
  border-color: $color-error;

  & + span {
    color: $color-error;
  }
}

.form__textarea {
  padding: 5px;
}

.form__label {
  cursor: pointer;
}

.form__button {
  color: $color-default-black;

  @include hover {
    background-color: $color-gray;
    color: $color-default-white;
  }
}

.form__close {
  .form__icon {
    transition: transform $trans-default;
  }

  @include hover {
    .form__icon {
      transform: scale(1.2);
    }
  }
}
