.promo {
  position: relative;
  margin-bottom: 48px;
}

.promo__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, $color-transparent 50%, $color-seal-brown 100%);
  border-radius: 30px 30px 0 0;
  z-index: -1;
}

.promo__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px 30px 0 0;
  z-index: -2;
  object-fit: cover;
}

.promo__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 266px;
  padding-bottom: 52px;
  padding-right: 20px;
  color: $color-default-white;

  @include vp-768 {
    padding-top: 551px;
    padding-bottom: 76px;
    gap: 40px;
  }

  @include vp-1280 {
    padding-top: 597px;
    padding-bottom: 96px;
  }
}

.promo__heading {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  @include vp-768 {
    font-size: 38px;
  }

  @include vp-1280 {
    font-size: 42px;
  }
}

.promo__subheading {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  opacity: 0.8;

  @include vp-768 {
    font-size: 16px;
  }
}

.promo__tablet-break {
  display: none;

  @include vp-768 {
    display: block;
  }

  @include vp-1280 {
    display: none;
  }
}
